<h1>Demo App</h1>

<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <div class="example-sidenav">
      <h3 class="menu-item" routerLink="/hello" routerLinkActive="active">Hello</h3>
      <h3 class="menu-item" routerLink="/tx/sync" routerLinkActive="active">TxSync</h3>
      <h3 class="menu-item" routerLink="/tx/async" routerLinkActive="active">TxASync</h3>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="example-sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
